@model IList<ArticlesForum.Web.Models.Home.ArticleViewModel>

@{ var articles = Model.Count; }
@for (int i = 0; i < articles; i++)
{
    <div class="row">
        @{ var currentArticle = i; }
        @if (currentArticle == Model.Count)
        {
            break;
        }
        <div class="col-md-10">
            <h2>@Model[currentArticle].ArticleTitle</h2>

            <div>
                <strong>Category: </strong> @Model[currentArticle].CategoryName
            </div>
            <div>
                <strong>Author: </strong> @Model[currentArticle].AuthorUserName
            </div>
            <div>
                @Model[currentArticle].NumbersOfComments Comment(s)
            </div>
            <a href="/Articles/Details/@Model[currentArticle].Id" class="btn btn-default">More Details...</a>
        </div>
    </div>
}


