<div class="navbar navbar-default ">   <!--navbar-fixed-top-->
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">MusicArtists</a>
            <!--<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main" >-->
            <!--<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">-->
                <!--<a href="#/Artists/"><span class="icon-bar">Artists</span></a>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/">Home</a>
                </li>
                <li>
                    <a href="#/Artists/">Artists</a>
                </li>
                <li>
                    <a href="#/Albums/">Albums</a>
                </li>
                <li>
                    <a href="#/Songs/">Songs</a>
                </li>
                <li>
                    <a href="#/Add-Artist">Add-Artist</a>
                </li>
                <li>
                    <a href="#/Add-Album">Add-Album</a>
                </li>
                <li>
                    <a href="#/Add-Song">Add-Song</a>
                </li>
            </ul>
            </div>
    </div>
</div>