<div class="container" ng-controller="BackPageController">
    <div class="row">
        <div><h2>Back</h2></div>
        <div class="col-md-6">
            <img src="/img/back.jpg" class="img-thumbnail" alt="Responsive image" />
        </div>
        <div class="col-md-6 pull-right">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v82QmEiqMco" style="width: 560px; height: 340px"></iframe>
            </div>
        </div>
        <div exercise-info ng-repeat="exercise in exercise.exercises">

        </div>
    </div>
</div>