<div class="container" ng-controller="BicepsPageController">
    <div class="row">
        <div>Biceps</div>
        <div class="col-md-6">
            <a href="http://www.muscleandfitness.com/workouts/arms-exercises/honest-bigger-biceps">
            <img src="/img/biceps.jpg" class="img-thumbnail" alt="Responsive image" />
            </a>
        </div>
        <div class="col-md-6 pull-right">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BCuNm2VZetM" style="width: 560px; height: 340px"></iframe>
            </div>
        </div>
        <div exercise-info ng-repeat="exercise in exercise.exercises">

        </div>
    </div>
</div>