<div class="container" ng-controller="LegsPageController">
    <div class="row">
        <div><h2>Legs</h2></div>

        <a href="http://www.mensfitness.com/training/workout-routines/30-best-legs-exercises-all-time/slide/4">
        <div class="col-md-6">
            <img src="/img/legs.jpg" class="img-thumbnail" alt="Responsive image" />
        </div>
        </a>
        <div class="col-md-6 pull-right">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v82QmEiqMco" style="width: 560px; height: 340px"></iframe>
            </div>
        </div>
        <div exercise-info ng-repeat="exercise in exercise.exercises">

        </div>
    </div>
</div>